        <footer class="bg-dark text-white">
            <div class="footer-copyright text-center py-3">
                © 2023 Copyright: CINEMA-WEB-APP
            </div>
        </footer>
        <!-- Font awesome Icons -->
        <script src="https://kit.fontawesome.com/857f3fe573.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
    </body>
</html>