<%- include('./partials/header.ejs') %>
  <%- include('./partials/navbar.ejs') %>
    <div class="container">
      <h1 class="text-center">Nuestra selección de películas: </h1>
      <hr>
      <div class="row">
        <div id="films-grid" class="d-flex flex-wrap justify-content-around"></div>
      </div>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        getCards();
      });
      async function getCards() {
        const urlPeliculas = `http://www.omdbapi.com/?i=tt3896198&apikey=dd664a24&s=Superman`;
        try {
          const response = await fetch(urlPeliculas);
          const result = await response.json();
          console.log(result);
          //Pintamos las tarjetas
          paintCards(result.Search);
        } catch (error) {
          console.log(error);
        }
      }
      function paintCards(peliculas) {
        const services = document.querySelector("#films-grid");
        let card = "";
        /* Empezamos a iterar */
        /* El array está en plural y el iterador en singular */
        peliculas.forEach((pelicula) => {
            /* Destructuramos el array y en una sola instrucción igualamos la variable pelicula */
            const { Title, Year, Poster } = pelicula;
            /* */
            card += `
            <div class="card my-4" style="width: 18rem;">
                <img src="${Poster}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">${Title}</h5>
                </div>
            </div>
            `
        });
        /* Inyectamos la concatenación */
        services.innerHTML = card;
    }
    
    </script>
    <%- include('./partials/footer.ejs') %>