<%- include('./partials/header.ejs') %>
    <%- include('./partials/navbar.ejs') %>
    <div class="jumbotron">
        <h1 class="display-4">Hola Mundo <i class="fas fa-heart"></i></h1>
        <p class="lead">En esta página, podrás encontrar el consumo de API's de cine y una propia que creé.</p>
        <hr class="my-4">
        <p>Atentamente: juliandrojas.</p>
        <a class="btn btn-primary btn-lg" href="https://github.com/juliandrojas" target="_blank" role="button">
            Sígueme en GitHub <i class="fab fa-github"></i>
        </a>
    </div>
<%- include('./partials/footer.ejs') %>