<%- include('./partials/header.ejs') %>
    <%- include('./partials/navbar.ejs') %>
        <div class="container">
            <h1 class="text-center">Horarios disponibles</h1>
            <hr>
            <div class="row row-cols-1 row-cols-md-3">
                <div class="col mb-4">
                    <div class="card h-100">
                        <!-- <img src="..." class="card-img-top" alt="..."> -->
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold text-center">Lunes</h5>
                            <p class="card-text">
                                <ul class="list-group">
                                    <li class="list-group-item">Horario 1</li>
                                    <li class="list-group-item">Horario 2</li>
                                    <li class="list-group-item">Horario 3</li>
                                    <li class="list-group-item">Horario 4</li>
                                    <li class="list-group-item">Horario 5</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card h-100">
                        <!-- <img src="..." class="card-img-top" alt="..."> -->
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold text-center">Martes</h5>
                            <p class="card-text">
                                <ul class="list-group">
                                    <li class="list-group-item">Horario 1</li>
                                    <li class="list-group-item">Horario 2</li>
                                    <li class="list-group-item">Horario 3</li>
                                    <li class="list-group-item">Horario 4</li>
                                    <li class="list-group-item">Horario 5</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card h-100">
                        <!-- <img src="..." class="card-img-top" alt="..."> -->
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold text-center">Miércoles</h5>
                            <p class="card-text">
                                <ul class="list-group">
                                    <li class="list-group-item">Horario 1</li>
                                    <li class="list-group-item">Horario 2</li>
                                    <li class="list-group-item">Horario 3</li>
                                    <li class="list-group-item">Horario 4</li>
                                    <li class="list-group-item">Horario 5</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-3">
                <div class="col mb-4">
                    <div class="card h-100">
                        <!-- <img src="..." class="card-img-top" alt="..."> -->
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold text-center">Jueves</h5>
                            <p class="card-text">
                                <ul class="list-group">
                                    <li class="list-group-item">Horario 1</li>
                                    <li class="list-group-item">Horario 2</li>
                                    <li class="list-group-item">Horario 3</li>
                                    <li class="list-group-item">Horario 4</li>
                                    <li class="list-group-item">Horario 5</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card h-100">
                        <!-- <img src="..." class="card-img-top" alt="..."> -->
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold text-center">Viernes</h5>
                            <p class="card-text">
                                <ul class="list-group">
                                    <li class="list-group-item">Horario 1</li>
                                    <li class="list-group-item">Horario 2</li>
                                    <li class="list-group-item">Horario 3</li>
                                    <li class="list-group-item">Horario 4</li>
                                    <li class="list-group-item">Horario 5</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card h-100">
                        <!-- <img src="..." class="card-img-top" alt="..."> -->
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold text-center">Sábado</h5>
                            <p class="card-text">
                                <ul class="list-group">
                                    <li class="list-group-item">Horario 1</li>
                                    <li class="list-group-item">Horario 2</li>
                                    <li class="list-group-item">Horario 3</li>
                                    <li class="list-group-item">Horario 4</li>
                                    <li class="list-group-item">Horario 5</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('./partials/footer.ejs') %>