<%- include('./partials/header.ejs') %>
    <%- include('./partials/navbar.ejs') %>
    <h1 class="text-center">Sección de Tickets</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <a href="/tickets/buy" class="btn btn-primary btn-block">Comprar tickets</a>
            </div>
            <div class="col-md-6">
                <a href="/find" class="btn btn-primary btn-block">Gestionar tickets</a>
            </div>
        </div>
    </div>
<%- include('./partials/footer.ejs') %>