<%- include('./partials/header.ejs') %>
    <%- include('./partials/navbar.ejs') %>
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="card text-center">
            <div class="card-body">
                <h1>Acceso No Permitido</h1>
                <p>Por favor, inicia sesión.</p>
                <div class="container">
                    <a href="/tickets/login" class="btn btn-primary btn-block">Ingresar</a>
                </div>
            </div>
        </div>
    </div>    
<%- include('./partials/footer.ejs') %>